<a href="https://colab.research.google.com/github/LailaBulh/Programacion---Claas-Files/blob/main/practica15_263165.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Práctica #15: Datos Temporales**

link gitHub: [Practica15_LB](https://github.com/LailaBulh/Programacion---Claas-Files/blob/main/practica15_263165.ipynb)

In [10]:
### Drive connection

from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
import pandas as pd
import datetime as dt
from datetime import datetime

# **Ejercicio 01:Tipo de Datos Correcto**

In [105]:
### Carga de dataset y revision de datatypes
df = pd.read_csv('/content/drive/MyDrive/Programacion_ClassFiles/Airdata.csv')

print('Tipo de datos en dataset:\n')
print(df.info())

### Cambio de datatype object a datetime en columna 'DateTime'
df['DateTime'] = pd.to_datetime(df['DateTime'])

### Revision de datatype actualizados
print('Tipo de datos actualizado para columna "DateTime":\n')
print(df.info())

### Primeras filas del dataset
print('\nTOP 3 en dataset:\n')
print(df.head(3))

Tipo de datos en dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTime        8784 non-null   object
 1   Temperature     8784 non-null   float64
 2   Humidity        8784 non-null   int64
 3   Wind_Speed      8784 non-null   float64
 4   Wind_Direction  8784 non-null   float64
 5   NO2_Location_A  8664 non-null   float64
 6   NO2_Location_B  8204 non-null   float64
 7   NO2_Location_C  8652 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 549.1+ KB
None
Tipo de datos actualizado para columna "DateTime":

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTime        8784 non-null   datetime64[ns]
 1   Temperature     8784 non-null   float64
 2   Humidity        8784 non-null   int64
 3   Wind_Speed      8784 non-null   float64
 4   Wind_Direction  8784 non-null   float64
 5   NO2_Location_A  8664 non-null   float64
 6   NO2_Location_B  8204 non-null   float64
 7   NO2_Location_C  8652 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 549.1 KB
None

TOP 3 en dataset:

             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318        75.96376
1 2020-01-01 01:00:00     1.490529        89    2.741678       113.19859
2 2020-01-01 02:00:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C
0           39.23           52.88           62.37
1           38.30           44.95           52.53
2             NaN           48.40           54.80

# **Ejercicio 02: Extraer componentes de fecha y tiempo**

In [106]:
### Extraccion de elementos en columna 'DateTime'

df['Year'] = df['DateTime'].dt.year
df['Month'] = df['DateTime'].dt.month
df['Day'] = df['DateTime'].dt.day
df['Hour'] = df['DateTime'].dt.hour

### Dataframe actualizado
print(df.head(3))

             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318        75.96376
1 2020-01-01 01:00:00     1.490529        89    2.741678       113.19859
2 2020-01-01 02:00:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C  Year  Month  Day  Hour
0           39.23           52.88           62.37  2020      1    1     0
1           38.30           44.95           52.53  2020      1    1     1
2             NaN           48.40           54.80  2020      1    1     2

# **Ejercicio 03: Aritmética - Suma de Intervalos (timedelta)**

In [107]:
### Suma 10 días, 7 horas y 15 minutos a cada elemento de la columna 'DateTime'

df['new_Datetime'] = df['DateTime'] + pd.Timedelta(days= 10, hours= 7, minutes= 15)

print(df[['DateTime','new_Datetime']].head(3))

             DateTime        new_Datetime
0 2020-01-01 00:00:00 2020-01-11 07:15:00
1 2020-01-01 01:00:00 2020-01-11 08:15:00
2 2020-01-01 02:00:00 2020-01-11 09:15:00

# **Ejercicio 04: Timestamp**

Convierte la columna 'DateTime' la cual tiene un formato de fecha legible a a timestamp Unix. Guarda el resultado en una nueva columna
Imprime las primeras tres filas de  la columna 'DateTime' y la columna que representa dicha fecha en timestamp Unix

In [108]:
### Conversion a tiempo Unix

a = df['DateTime'] - time_utc
df['DateTime_unix'] = a.dt.total_seconds()

print(df.head(3))

             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318        75.96376
1 2020-01-01 01:00:00     1.490529        89    2.741678       113.19859
2 2020-01-01 02:00:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C  Year  Month  Day  Hour  \
0           39.23           52.88           62.37  2020      1    1     0
1           38.30           44.95           52.53  2020      1    1     1
2             NaN           48.40           54.80  2020      1    1     2

         new_Datetime  DateTime_unix
0 2020-01-11 07:15:00   1.577837e+09
1 2020-01-11 08:15:00   1.577840e+09
2 2020-01-11 09:15:00   1.577844e+09

In [109]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTime        8784 non-null   datetime64[ns]
 1   Temperature     8784 non-null   float64
 2   Humidity        8784 non-null   int64
 3   Wind_Speed      8784 non-null   float64
 4   Wind_Direction  8784 non-null   float64
 5   NO2_Location_A  8664 non-null   float64
 6   NO2_Location_B  8204 non-null   float64
 7   NO2_Location_C  8652 non-null   float64
 8   Year            8784 non-null   int32
 9   Month           8784 non-null   int32
 10  Day             8784 non-null   int32
 11  Hour            8784 non-null   int32
 12  new_Datetime    8784 non-null   datetime64[ns]
 13  DateTime_unix   8784 non-null   float64
dtypes: datetime64[ns](2), float64(7), int32(4), int64(1)
memory usage: 823.6 KB
None

# **Ejercicio 05: Filtrado de Fechas**

In [112]:
### Filtrar df por fechas mayores a'2020-11-01'

print(df[df['DateTime'] > '2020-11-01'])

                DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
7321 2020-11-01 01:00:00    13.620529        58    6.638072       130.60129
7322 2020-11-01 02:00:00    13.980529        40    6.618519       157.61987
7323 2020-11-01 03:00:00    13.010529        43    8.209263       164.74487
7324 2020-11-01 04:00:00    12.190529        51    7.568566       154.65382
7325 2020-11-01 05:00:00    12.510529        59    7.594208       148.57043
...                  ...          ...       ...         ...             ...
8779 2020-12-31 19:00:00     4.920528        72    4.553680       251.56506
8780 2020-12-31 20:00:00     4.990529        74    3.259939       186.34020
8781 2020-12-31 21:00:00     4.360529        84   10.587917       252.18112
8782 2020-12-31 22:00:00     3.820528        88    8.435069       219.80557
8783 2020-12-31 23:00:00     3.170529        89    6.792466       212.00539

      NO2_Location_A  NO2_Location_B  NO2_Location_C  Year  Month  Day  Hour  \
7321           17.50           23.88           44.07  2020     11    1     1
7322           13.38           18.92           35.80  2020     11    1     2
7323           11.95           13.95           30.15  2020     11    1     3
7324           10.10           14.35           31.45  2020     11    1     4
7325           10.30           14.42           32.55  2020     11    1     5
...              ...             ...             ...   ...    ...  ...   ...
8779           53.44           32.65           66.82  2020     12   31    19
8780           49.80           34.03           67.31  2020     12   31    20
8781           43.32           25.55           59.33  2020     12   31    21
8782           39.88           19.90           43.70  2020     12   31    22
8783           39.04           30.33           46.87  2020     12   31    23

            new_Datetime  DateTime_unix
7321 2020-11-11 08:15:00   1.604192e+09
7322 2020-11-11 09:15:00   1.604196e+09
7323 2020-11-11 10:15:00   1.604200e+09
7324 2020-11-11 11:15:00   1.604203e+09
7325 2020-11-11 12:15:00   1.604207e+09
...                  ...            ...
8779 2021-01-11 02:15:00   1.609441e+09
8780 2021-01-11 03:15:00   1.609445e+09
8781 2021-01-11 04:15:00   1.609448e+09
8782 2021-01-11 05:15:00   1.609452e+09
8783 2021-01-11 06:15:00   1.609456e+09

[1463 rows x 14 columns]