<a href="https://colab.research.google.com/github/LailaBulh/Programacion---Claas-Files/blob/main/practica14_263165.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Practica # 14. Limpieza y Transformaci칩n de Datos Categ칩ricos**

link github:[Practica14_LB](https://github.com/LailaBulh/Programacion---Claas-Files/blob/main/practica14_263165.ipynb)

In [1]:
### Drive connection

from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [68]:
### Carga de archivo csv

df = pd.read_csv('/content/drive/MyDrive/Programacion_ClassFiles/nls97.csv')
#print(df)

**Ejercicio 01: Errores Tipogr치ficos y Valores Inconsistentes: maritalstatus**

In [69]:
### Unique values de col 'maritalstatus' y frecuencia de valores
print('Los valores unicos de la columna "maritalstatus" son \n', df['maritalstatus'].unique())

print('\nLa frecuencia de cada valor unico de la columna "maritalstatus" es: \n', df['maritalstatus'].value_counts())

### Renombrar valor 'Never-married'
df['maritalstatus'] = df['maritalstatus'].replace({'Never-married':'Single'})
print('\nLos valores unicos de la columna "maritalstatus" son \n', df['maritalstatus'].unique())

### Frecuencia valor unico
print('\nLa frecuencia de cada valor unico de la columna "maritalstatus" es: \n', df['maritalstatus'].value_counts())

Los valores unicos de la columna "maritalstatus" son
 ['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']

La frecuencia de cada valor unico de la columna "maritalstatus" es:
 maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64

Los valores unicos de la columna "maritalstatus" son
 ['Married' 'Single' nan 'Divorced' 'Separated' 'Widowed']

La frecuencia de cada valor unico de la columna "maritalstatus" es:
 maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

**Ejercicio 02: Errores Tipogr치ficos y Valores Inconsistentes: highestdegree.**

In [70]:
### Unique values de col 'maritalstatus' y frecuencia de valores
print('Los valores unicos de la columna "maritalstatus" son \n', df['highestdegree'].unique())

print('\nLa frecuencia de cada valor unico de la columna "highestdegree" es: \n', df['highestdegree'].value_counts())

### Lowercase
df['highestdegree'] = df['highestdegree'].str.lower().str.strip().replace({r'^\d.':''}, regex = True)
print('\nLa frecuencia de cada valor unico de la columna "highestdegree" es: \n', df['highestdegree'].value_counts())

Los valores unicos de la columna "maritalstatus" son
 ['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD' nan]

La frecuencia de cada valor unico de la columna "highestdegree" es:
 highestdegree
2. High School     3667
4. Bachelors       1673
1. GED             1146
0. None             953
3. Associates       737
5. Masters          603
7. Professional     120
6. PhD               54
Name: count, dtype: int64

La frecuencia de cada valor unico de la columna "highestdegree" es:
 highestdegree
high school     3667
bachelors       1673
ged             1146
none             953
associates       737
masters          603
professional     120
phd               54
Name: count, dtype: int64

**Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas**

In [71]:
### union de categorias 'Widowed y 'Single' en una sola 'Single/No Partner'

df['marital_grouped'] = df['maritalstatus'].replace({'Widowed' : 'Single/No Partner', 'Single' : 'Single/No Partner'})

print('Los valores unicos de la columna "marital_grouped" son \n',df['marital_grouped'].unique())

print('\nLa frecuencia de cada valor unico de la columna "marital_grouped" es: \n', df['marital_grouped'].value_counts() )

Los valores unicos de la columna "marital_grouped" son
 ['Married' 'Single/No Partner' nan 'Divorced' 'Separated']

La frecuencia de cada valor unico de la columna "marital_grouped" es:
 marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

**Ejercicio 04: Tipos de Datos**

In [72]:
### Tipo de dato columna gender
print('El tipo de dato para la columna "gender" es: \n',df['gender'].dtypes)

### Memoria utilizada por la columna 'gender'
print('La memoria en bytes de la columna "gender" es: \n', {df['gender'].memory_usage(deep= True)})

### Cambio de tipo object a category
df['gender'] = df['gender'].astype('category')
print('El tipo de dato para la columna "gender" es: \n',df['gender'].dtypes)

### Memoria utilizada por la columna 'gender'
print('La memoria en bytes de la columna "gender" como columna tipo category es: \n', {df['gender'].memory_usage(deep= True)})

El tipo de dato para la columna "gender" es:
 object
La memoria en bytes de la columna "gender" es:
 {485054}
El tipo de dato para la columna "gender" es:
 category
La memoria en bytes de la columna "gender" como columna tipo category es:
 {9332}